body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e4e9ec;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #004080;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 25px;
    height: calc(100vh-100px);
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}