 body {
     font-family: Arial, sans-serif;
     background-color: rgb(237, 246, 255);
     margin: 0;
     padding: 0;
 }

 header {
     background-color: #2198e2;
     color: #ffffff;
     padding: 10px 0;
     display: flex;
     text-align: center;
     justify-content: center;
 }

 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;

 }

 .card {
    background-color: #ffffff;
    margin: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);

 }